.git
.github
.devcontainer
node_modules
vendor
.env
.env.*
!.env.example
storage/app/*
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
docker-compose.yml
deploy
docker
